{% load shorty_tags %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Trocchi' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/layout.css" />
    <link rel="shortlink" type="text/html" href="{% short_url %}">
    {% block js %}{% endblock js %}
    {% block canonical %}{% endblock canonical %}
  </head>
  <body {% block extend_body %}{% endblock extend_body %}>
    <div id="container">
      <ul id="navigation">
        <li><a href="{% url about-page %}">About</a></li>
        <li>&bull;&nbsp;<a href="{% url album-list %}">Albums</a></li>
        <li>&bull;&nbsp;<a href="{% url event-list %}">Events</a></li>
      </ul>
      <h1><a href="/">Daniel Davies' Photographs</a></h1>
      {% block content %}{% endblock content %}
      <div id="footer">
        <p>
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB"><img alt="Creative Commons Licence" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a><br />All images on <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/StillImage" property="dct:title" rel="dct:type">Daniel Davies Photography</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.danux.co.uk" property="cc:attributionName" rel="cc:attributionURL">Daniel Davies</a> are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_GB">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
        </p>
        <p>
            The source code for the website can be downloaded from <a href="https://github.com/danux/django-photography-website">Github</a>.
        </p>
      </div>
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19966171-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>