{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Daniel Davies Photography{% endblock %}
{% block content %}
<div class="split clear-fix">
  <h2>Albums</h2>
  {% with nodes=albums %}
  {% include "album/includes/album_list.html" %}
  {% endwith %}
</div>
<div class="split">
  <h2>Events</h2>
  {% with nodes=events %}
  {% include "album/includes/album_list.html" %}
  {% endwith %}
</div>
<div class="clear-fix page-divide"></div>
<h2>Events Map</h2>
<div id="map_canvas" style="width: 950px; height: 400px;"></div>
{% endblock content %}

{% block js %}
<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key={{ MAP_API_KEY }}&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(51.23, 0.922852),
      zoom: 6,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);

    {% for event in events %}
    var contentString = '<div class="bubble"><h2>{{ event.title }}</h2><ul class="bubble-images">{% for photo in event.preview_images %}<li><a href="{{ event.get_absolute_url }}{{ photo.slug }}/">{% thumbnail photo.picture "80x80" crop="center" as im %}<img src="{{ im.url }}" />{% endthumbnail %}</a></li>{% endfor %}</ul><p><a href="{{ event.get_absolute_url }}">View event</a> &bull; <a href="{{ event.get_absolute_url }}slideshow/">Watch slideshow</a></p></div>';
    var infowindow = new google.maps.InfoWindow({
        content: contentString
    });
    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ event.latitude }}, {{ event.longitude }}),
      map: map,
      title: '{{ event.title }}',
    });
    google.maps.event.addListener(marker, 'click', function() {
      infowindow.open(map,marker);
    });
    {% endfor %}
  }
</script>
{% endblock js %}

{% block extend_body %}onload="initialize()"{% endblock extend_body %}