/*
Custom styles
*/
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.addthis-button-wrap, #slideshow {
    margin-top: 20px;
}

.album-list, footer p, .current-photo {
    text-align: center;
}

.next-photo {
    text-align: right;
}

.album-list img {
    border: 1px solid #333;
}

#photo-list li {
    display: inline;
    float: left;
    list-style-type: none;
    padding: 5px;
}

#slideshow {
    float: right;
}

.addthis-button-wrap {
    float: right;
}

th {
    text-align: right;
    padding-right: 10px;
}

#pagination {
    margin-top: 20px;
}

footer p { font-size: 11px; }

@media (max-width: 480px) {
    .addthis-button-wrap {
        display: none;
    }

    .navbar .brand {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
    .addthis-button-wrap {
        display: none;
    }

    #photo-map {
        display: none;
    }

    .next-photo, .previous-photo, .current-photo {
        width: 33% !important;
        float: left !important;
    }

    #photo-description p {
        padding-top: 10px;
        font-size: 14px !important;
    }

    #photo-info table, #pagination {
        font-size: 14px !important;
    }

    #slideshow {
        float: left;
    }

    #share-code {
        display: none;
    }
}


@media (max-width: 979px) {

    body {
        padding-top: 0;
        padding-bottom: 0;
    }

    #photo-info p, #pagination {
        font-size: 12px;
    }

    #photo-info table {
        font-size: 11px;
    }

    #photo-info #share-code input {
        font-size: 11px;
    }

    #photo-info h3 {
        font-size: 15px;
        line-height: auto;
    }
}