{% extends "base.html" %}

{% block about-active %} class="active"{% endblock %}

{% block title %}About{% endblock %}

{% block content %}
<h2>About</h2>
<p>
    I'm Daniel, an amateur photographer from the UK. I've created this site to house all my photography from the various events I go.
</p>
<p>
    I started taking photographs at the Eurogamer Expo in 2011 and have been working hard to improve as a photographer ever since. There's a long way to go, but overtime I've improved ten fold and aim to continue learning all I can.
</p>
<p>
    I love taking photos of people and would love the opportunity to do a photoshoot with someone, so if you're interested in a time for prints deal let me know!
</p>
<p>
    I'm on <a href="https://twitter.com/danux">Twitter</a> and my favourite photos make it to <a href="http://www.flickr.com/photos/daniel-davies/">Flickr</a>
</p>
{% endblock content %}