{% extends "base.html" %}
{% load thumbnail %}


{% block title %}Daniel Davies Photography{% endblock %}


{% block home-active %} class="active"{% endblock %}

{% block content %}
<div id="homepage">
  <div class="hero-unit" id="map_canvas" style="height: 250px"></div>

  <div class="row">
    <div class="span12">
      <h2>Albums</h2>
    </div>
  </div>
  <div class="row">
    {% with nodes=albums %}
    {% include "album/includes/album_list.html" %}
    {% endwith %}
  </div>

  <div class="row">
    <div class="span12">
      <h2>Events</h2>
    </div>
  </div>
  <div class="row">
    {% with nodes=events %}
    {% include "album/includes/album_list.html" %}
    {% endwith %}
  </div>
</div>
{% endblock content %}


{% block js %}
<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key={{ MAP_API_KEY }}&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(53.23, 0.922852),
      zoom: 6,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);

    {% for event in events %}
    var contentString = '<div class="bubble"><h2>{{ event.title }}</h2><ul class="bubble-images">{% for photo in event.preview_images %}<li><a href="{{ event.get_absolute_url }}{{ photo.slug }}/">{% thumbnail photo.picture "80x80" crop="center" as im %}<img src="{{ im.url }}" />{% endthumbnail %}</a></li>{% endfor %}</ul><p><a href="{{ event.get_absolute_url }}">View event</a> &bull; <a href="{{ event.get_absolute_url }}slideshow/">Watch slideshow</a></p></div>';
    var infowindow_{{ event.pk }} = new google.maps.InfoWindow({
        content: contentString
    });
    var marker_{{ event.pk }} = new google.maps.Marker({
      position: new google.maps.LatLng({{ event.latitude }}, {{ event.longitude }}),
      map: map,
      title: '{{ event.title }}',
    });
    google.maps.event.addListener(marker_{{ event.pk }}, 'click', function() {
      infowindow_{{ event.pk }}.open(map,marker_{{ event.pk }});
    });
    {% endfor %}
  }
</script>
{% endblock js %}

{% block extend_body %}onload="initialize()"{% endblock extend_body %}