{% extends 'base.html' %}
{% load thumbnail %}
{% load disqus_tags %}
{% load shorty_tags %}

{% block title %}{{ object.title }}{% endblock %}


{% block canonical %}<link rel="canonical" href="{{ object.get_absolute_url }}" />{% endblock canonical %}


{% block content %}
<div class="row">
  <div class="span9">
    <h2>{{ object.title }}</h2>
  </div>
  <div class="span3">
    <div class="addthis-button-wrap">
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style " addthis:url="{% short_url %}">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_counter addthis_pill_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script>
      <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=danux"></script>
      <!-- AddThis Button END -->
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    {% thumbnail object.picture "770" as im %}
    <img src="{{ im.url }}" id="photo">
    {% endthumbnail %}
  </div>
  <div class="span4" id="photo-info">
    <p>
      <img id="photo-map" src="http://maps.googleapis.com/maps/api/staticmap?center={{ object.event.latitude }},{{ object.event.longitude }}&zoom=6&size=370x150&maptype=roadmap&markers=color:red%7Ccolor:red%7C{{ object.event.latitude }},{{ object.event.longitude }}&sensor=false" />
    </p>
    <p>
      {% if object.event %}
      {% endif %}
      {% if object.event or object.albums.all %}
      <p>This photo{% if object.event %} was taken at <a href="{{ object.event.get_absolute_url }}">{{ object.event.title }}</a>{% if object.albums.all %} and{% endif %}{% endif %}{% if object.albums.all %} is featured in the
      {% for album in object.albums.all %}
      {% if forloop.last %}and {% elif not forloop.first %}, {% endif %}<a href="{{ album.get_absolute_url }}">{{ album.title }}</a>
      {% endfor %} album{{ object.albums.all.count|pluralize:"s" }}{% endif %}.</p>
      {% endif %}
    </p>
    <h3>Share Code</h3>
    <p>
      <input class="short-url" value="{% short_url %}" readonly="readonly" />
    </p>
    <h3>Camera Information</h3>
    <table>
      <tr>
          <th>Lens</th>
          <td>{{ object.lens }}</td>
      </tr>
      <tr>
          <th>Date taken</th>
          <td>{{ object.date_time_taken }}</td>
      </tr>
      <tr>
          <th>Shutter Speed</th>
          <td>{{ object.shutter_speed }}</td>
      </tr>
      <tr>
          <th>F Number</th>
          <td>f/{{ object.f_number }}</td>
      </tr>
      <tr>
          <th>Focal Length</th>
          <td>{{ object.focal_length }}mm</td>
      </tr>
    </table>
  </div>
</div>

{% if next_photo or previous_photo %}
<div class="row" id="pagination">
  <div class="span4 previous-photo">
    {% if previous_photo %}
    <p><a href="../{{ previous_photo.slug }}">&laquo; Previous</a></p>
    {% else %}
    <p>&laquo; Previous</p>
    {% endif %}
  </div>
  <div class="span4 current-photo">
    <p>Photograph {{ current_photo_number }} of {{ collection.photo_set.all.count }}</p>
  </div>
  <div class="span4 next-photo">
    {% if next_photo %}
    <p><a href="../{{ next_photo.slug }}">Next &raquo;</a></p>
    {% else %}
    <p>Next &raquo;</p>
    {% endif %}
  </div>
</div>
{% endif %}

{% set_disqus_url object.get_disqus_url %}
{% disqus_show_comments %}

{% endblock content %}
