{% extends 'base.html' %}
{% load thumbnail %}
{% load disqus_tags %}

{% block canonical %}<link rel="canonical" href="{{ object.get_absolute_url }}" />{% endblock canonical %}

{% block content %}

{% block breadcrumbs %}
  <ol id="breadcrumbs">
    <li><a href="/">Home</a> &raquo; </li>
    {% if collection %}
    <li><a href="{{ collections_url }}">{{ collections_name }}</a> &raquo;</li>
    <li><a href="{{ collection.get_absolute_url }}">{{ collection.title }}</a> &raquo;</li>
    {% elif object.event %}
    <li><a href="#">Events</a> &raquo;</li>
    <li><a href="{{ object.event.get_absolute_url }}">{{ object.event.title }}</a> &raquo;</li>
    {% endif %}
    <li>{{ object.title }}</li>
  </ol>
{% endblock %}

<h2>{{ object.title }}</h2>

<div class="addthis-button-wrap">
    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <a class="addthis_button_tweet"></a>
    <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=danux"></script>
    <!-- AddThis Button END -->
</div>

{% if next_photo or previous_photo %}
<div id="photo-browser">
    <div id="previous-photo">
        {% if previous_photo %}
        <a href="../{{ previous_photo.slug }}">&laquo; Previous</a>
        {% else %}
        &laquo; Previous
        {% endif %}
    </div>
    <div id="current-photo">
    Photograph {{ current_photo_number }} of {{ collection.photo_set.all.count }}
    </div>
    <div id="next-photo">
        {% if next_photo %}
        <a href="../{{ next_photo.slug }}">Next &raquo;</a>
        {% else %}
        Next &raquo;
        {% endif %}
    </div>
</div>
<div class="page-divide"></div>
{% endif %}

<div id="image">
    {% thumbnail object.picture "670" as im %}
    <img src="{{ im.url }}">
    {% endthumbnail %}
    <div id="about-image">
        <div id="map_canvas" style="width: 240px; height: 100px;"></div>
        <p>This photo was taken at <a href="{{ object.event.get_absolute_url }}">{{ object.event.title }}</a> and is featured in the
        {% for album in object.albums.all %}
        {% if forloop.last %}and {% elif not forloop.first %}, {% endif %}<a href="{{ album.get_absolute_url }}">{{ album.title }}</a>
        {% endfor %} album{{ object.albums.all.count|pluralize:"s" }}.</p>
        <h3>Camera Information</h3>
        <table>
            <tr>
                <th>Camera</th>
                <td>{{ object.camera }}</td>
            </tr>
            <tr>
                <th>Lens</th>
                <td>{{ object.lens }}</td>
            </tr>
            <tr>
                <th>Date taken</th>
                <td>{{ object.date_time_taken }}</td>
            </tr>
            <tr>
                <th>Shutter Speed</th>
                <td>{{ object.shutter_speed }}</td>
            </tr>
            <tr>
                <th>F Number</th>
                <td>f/{{ object.f_number }}</td>
            </tr>
            <tr>
                <th>Focal Length</th>
                <td>{{ object.focal_length }}mm</td>
            </tr>
            <tr>
                <th>ISO Speed</th>
                <td>{{ object.iso_speed }}</td>
            </tr>
            <tr>
                <th>Exposure program</th>
                <td>{{ object.exposure_program }}</td>
            </tr>
            <tr>
                <th>Metering mode</th>
                <td>{{ object.metering_mode }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="page-divide"></div>
{% set_disqus_url object.get_absolute_url %}
{% disqus_show_comments %}
{% endblock content %}

{% block js %}
<script type="text/javascript"
  src="http://maps.googleapis.com/maps/api/js?key={{ settings.MAP_API_KEY }}&sensor=false">
</script>
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng({{ object.event.latitude }}, {{ object.event.longitude }}),
      zoom: 6,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);

    var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{ object.event.latitude }}, {{ object.event.longitude }}),
      map: map
    });
  }
</script>
{% endblock js %}

{% block extend_body %}onload="initialize()"{% endblock extend_body %}
