{% extends 'base.html' %}
{% load thumbnail %}

{% block content %}
    {% block breadcrumbs %}
    {% endblock %}
    <h2>{{ object.title }}</h2>
    <p>{{ object.description }}</p>
    <div class="clear-fix page-divide"></div>
    <ul class="image-list">
        {% for photo in object.photo_set.all %}
        <li>
            {% thumbnail photo.picture "170x170" crop="center" as im %}
            <a href="{{ photo.slug }}/">
                <img src="{{ im.url }}">
            </a>
            {% endthumbnail %}
        </li>
        {% endfor %}
    </ul>
{% endblock content %}